body {
    background-color: black;
    color: white;
    font-family: Arial;
    margin: 0;
}

header {
    background-color: black;
    border-bottom: 5px solid red;
    text-align: center;
    padding: 20px;
}

h1 {
    color: white;
}

p {
    color: red;
}

/* Styling the navigation link to look like a button */
nav a {
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: red;
    border-bottom: 2px solid red;
}

/* Basic Table Styling */
table {
    width: 100%;
    border: 1px solid white;
    background-color: #222222; /* Dark Grey */
    color: white;
}

th {
    background-color: red;
    color: white;
    padding: 10px;
    border: 1px solid white;
}

td {
    padding: 10px;
    border: 1px solid white;
    text-align: center;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #222222;
    margin-top: 20px;
}