body {
     font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;

          }
header {
    background: #2f5881;
    color: #fff;
    padding: 20px 0;
    text-align: center;

  background-image: url("101.gif");
            background-repeat: no-repeat; 
            background-size: cover;       
            background-attachment: fixed;
            background-color: #cccccc;    
        
}

nav a {
    color:white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #e10600;
}
.hero {
    background: white;
    padding: 50px 20px;
    text-align: center;
    border-bottom: 2px solid #ddd;
}

button {
    background: #2f6990;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background: #e10600;
}


.content-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 10%;
}

/* card background */


.cardbg {

     background-color: #2d2d2d; 
    color: white;
    padding: 20px; 
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: inset 0px 10px 0px 0px white, inset 0px -10px 0px 0px white; 
    border-top: 20px solid; 
    border-bottom: 20px solid; 
           }

/* card background end */




.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    flex: 1;    
    text-align: center;
}



.table-container {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #f4f4f4; 
}

table {
    margin: 0 auto;
    width: 60%;     
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #e10600; /* F1 Red */
    color: white;
}

footer {
    text-align: center;
    padding: 10px;
    background: #2d2d2d;
    color: white;
    margin-top: 20px;
}